Lima/XML/UD_4/ACT_3_4/ACT_4.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="libro">
    <xs:all>
      <xs:element name="titulo" type="xs:string" minOccurs="1"/>
      <xs:element name="autor" type="xs:string" minOccurs="1"/>
      <xs:element name="editorial" type="xs:string" minOccurs="1"/>
    </xs:all>
  </xs:complexType>
  <xs:element name="biblioteca">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="libro" type="libro" maxOccurs="unbounded">
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>