Lima/XML/UD_4/ACT_2/XMLschemaEJ_2.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="vehiculos">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="vehiculo" minOccurs="1" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="nombre" type="xs:string" minOccurs="1" maxOccurs="unbounded"/>
              <xs:element name="modelo" type="xs:string" />
              <xs:element name="fabricacion">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="inicio">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="dia" type="xs:integer" />
                          <xs:element name="mes" type="xs:string" />
                          <xs:element name="anyo" type="xs:integer" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="fin">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="dia" type="xs:integer" />
                          <xs:element name="mes" type="xs:string" />
                          <xs:element name="anyo" type="xs:integer" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="modificaciones">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="modificacion" type="xs:string" minOccurs="1" maxOccurs="unbounded"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>


  </xs:element>

</xs:schema>