Lima/XML/UD_4/ACT_2_2/alumno5.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    
    <xs:complexType name="alumnoType">
            <xs:sequence>
                <xs:element name="nombre" type="xs:string" />
                <xs:element name="edad" type="xs:int" />
                <xs:element name="direccion" type="direcionType" maxOccurs="2" />
                <xs:element name="telefono" type="xs:int" maxOccurs="3" />
            </xs:sequence>
    </xs:complexType>


    <xs:complexType name="direcionType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="ciudad" type="xs:string" use="required" />
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>




    <xs:element name="alumnos">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="alumno" type="alumnoType" maxOccurs="unbounded" />
            </xs:sequence>
            <xs:attribute name="IES" type="xs:string" />
        </xs:complexType>
    </xs:element>


</xs:schema>