Lima/XML/UD_4/ACT_2_2/alumno2.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="alumnos">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="nombre" type="xs:string" />
                <xs:element name="edad" type="xs:int" />
                <xs:element name="direccion" type="xs:string" maxOccurs="2" />
                <xs:element name="telefono" type="xs:int" maxOccurs="3"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>


</xs:schema>