Lima/XML/UD_4/ACT_1/defFaq.dtd

<!ELEMENT FAQ (INFO, PART+)>
<!ELEMENT INFO (TITULO, AUTOR, EMAIL, VERSION, FECHA)>
<!ELEMENT PART (Q+)>
<!ELEMENT Q (QTEXT, A)>
<!ELEMENT TITULO (#PCDATA)>
<!ELEMENT AUTOR (#PCDATA) >
<!ELEMENT EMAIL (#PCDATA) >
<!ELEMENT VERSION (#PCDATA) >
<!ELEMENT FECHA (#PCDATA) >

<!ATTLIST PART number CDATA #REQUIRED>
<!ATTLIST Q id CDATA #REQUIRED>
<!ELEMENT QTEXT (#PCDATA) >
<!ELEMENT A (#PCDATA) >